/* components/pull-card/pull-card.wxss */

.van-cell__right-icon-wrap {
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 50rpx !important;
  color: var(--cell-right-icon-color,#969799) !important;
}
.van-collapse-item__title .van-cell {
  padding: 0rpx !important;
 }
 .van-collapse-item{
   max-height: fit-content !important;
 }

